<!DOCTYPE html>
<html>
  <head>
    <title>TabiChannel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag 'bootstrap/bootstrap.min', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap/bootstrap', media: 'all' %>
    <%= stylesheet_link_tag 'style_userpage_edit', media: 'all' %>
    <%= stylesheet_link_tag 'normalize', media: 'all' %>
    <%= stylesheet_link_tag 'animate', media: 'all' %>
    
  </head>

  <body>
    
    
<!--ヘッダー-->
<%= render 'layouts/flash_messages' %>
<%= render 'layouts/navbar2' %>
    
<!--プロフィール画像-->
<div class="top_container">
    <div class="col-sm-5">
        <div class="profile_image">
            <% if @user.image? %>
                <%= image_tag @user.image.url %>
            <% else %>
                <img src="https://res.cloudinary.com/hbvvwh0vr/image/upload/v1570983635/profile_zhxwvs.png">
            <% end %>
        </div>
     <!--画像のアップロード-->
     <%= form_with(model: @user, local: true) do |f| %>
     <!--画像のアップロード-->
      <div class="image_upload_container">
        <p><%= f.file_field :image, :class => "upload_button"%></p>
      </div>

    </div>
    
    <div class="col-sm-7 user_container">
        
    <!--編集入力-->
        <div class="input_edit_container">
          <h1>プロフィール編集</h1>
          <%= f.label :name, "ユーザー名：",  class:"button_label" %>
          <%= f.text_field :name, class:"input_edit_form" %>
          <%= f.label :introduction, "自己紹介文：", class:"button_label" %>
          <%= f.text_area :introduction, class:"input_edit_form", rows: 8 %>
          <%= f.submit "完了", class:"submit_edit_button" %>
        </div>
    <% end %>
    
    </div>

</div>


  <footer>
      <!--コピーライト-->
      <div id="copyright">
        Copyright &copy; 2019 TabiChannel All Rights Reserved.
      </div>
  </footer>
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
  
</html>
