<!DOCTYPE html>
<html>
  <head>
    <title>TabiChannel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag 'bootstrap/bootstrap.min', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap/bootstrap', media: 'all' %>
    <%= stylesheet_link_tag 'style_userpage', media: 'all' %>
    <%= stylesheet_link_tag 'normalize', media: 'all' %>
    <%= stylesheet_link_tag 'animate', media: 'all' %>
    
  </head>

  <body>
    
    
<!--ヘッダー-->
<%= render 'layouts/flash_messages' %>
<%= render 'layouts/navbar' %>
    
<!--プロフィール画像-->
<div class="top_container">
    <div class="col-sm-5">
        <div class="profile_image">
        <% if @user.image? %>
            <%= image_tag @user.image.url %>
        <% else %>
            <img src="https://res.cloudinary.com/hbvvwh0vr/image/upload/v1570983635/profile_zhxwvs.png">
        <% end %>
        </div>
    </div>
    <div class="col-sm-7 user_container">
        <!--ユーザー名-->
        <div class="user_name"><%= @user.name %></div>
        <!--フォロー数の表示-->
        <div class="follow_container">
            <a href="#">フォロー数：70人</a>  
            <a href="#">　フォロワー数：80人</a>
        </div>
        <!--自己紹介文-->
        <div class="introduction">
            <p><%= @user.introduction %></p>
        </div>
        
        <div class="profile_edit"><%= link_to 'プロフィール編集', edit_user_path %></div>
   
        <div class="community_container">
            <div class="community">参加しているコミュニティ</div>
            <!--コミュニティ一覧-->
            <a href="#" class="hover">
                <div class="community_item">
                    <img src="./image/freedom1.jpg" class="col-sm-4">
                    <div class="col-sm-8 community_title">
                        <p>作成者：YUKO<br>作成日時：2019/11/2</p>
                        バンコクでバックパッカーしている人集合！！
                    </div>
                </div>
            </a>
            
            <a href="#" class="hover">
                <div class="community_item">
                    <img src="./image/freedom1.jpg" class="col-sm-4">
                    <div class="col-sm-8 community_title">
                        <p>作成者：YUKO<br>作成日時：2019/11/2</p>
                        バンコクでバックパッカーしている人集合！！
                    </div>
                </div>
            </a>
            
            <a href="#" class="hover">
                <div class="community_item">
                    <img src="./image/freedom1.jpg" class="col-sm-4">
                    <div class="col-sm-8 community_title">
                        <p>作成者：YUKO<br>作成日時：2019/11/2</p>
                        バンコクでバックパッカーしている人集合！！
                    </div>
                </div>
            </a>
            
        </div>
        
    </div>

</div>


  <footer>
      <!--コピーライト-->
      <div id="copyright">
        Copyright &copy; 2019 TabiChannel All Rights Reserved.
      </div>
  </footer>
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
  
</html>
