<!DOCTYPE html>
<html>
  <head>
    <title>TabiChannel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag 'bootstrap/bootstrap.min', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap/bootstrap', media: 'all' %>
    <%= stylesheet_link_tag 'style_userpage', media: 'all' %>
    <%= stylesheet_link_tag 'normalize', media: 'all' %>
    <%= stylesheet_link_tag 'animate', media: 'all' %>
    
  </head>

<body>
<div class="wrapper">
    
<!--ヘッダー-->
<%= render 'layouts/navbar2' %>
<%= render 'layouts/flash_messages' %>
<!--プロフィール画像-->
<div class="top_container">
    <div class="col-sm-5">
        <div class="profile_image">
        <% if @user.image? %>
            <%= image_tag @user.image.url, :class => "profile_image"%>
        <% else %>
            <img src="https://res.cloudinary.com/hbvvwh0vr/image/upload/v1570983635/profile_zhxwvs.png">
        <% end %>
        </div>
    </div>
    <div class="col-sm-7 user_container">
        <!--ユーザー名-->
        <div class="user_name"><%= @user.name %></div>
        <!--フォロー数の表示-->
        <div class="follow_container">
            <a href="#">フォロー数：70人</a>  
            <a href="#">　フォロワー数：80人</a>
        </div>
        <!--自己紹介文-->
        <div class="introduction">
            <p><%= @user.introduction %></p>
        </div>
        <!--プロフィール編集-->
        <% if @user == current_user%>
        <div class="profile_edit"><%= link_to 'プロフィール編集', edit_user_path %></div>
        <% end %>
        <div class="community_container">
            <div class="community">過去に作成したコミュニティ</div>
            <!--過去に作成したコミュニティ一覧-->
            <%= render "communities/communities" %>
        
        </div>
        
    </div>

</div>


  <footer>
      <!--コピーライト-->
      <div id="copyright">
        Copyright &copy; 2019 TabiChannel All Rights Reserved.
      </div>
  </footer>
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
</div>    
</body>
  
</html>
